html {
  background-image: url("https://wallpaperaccess.com/full/2193203.jpg");
  /* min-height: 700px; */
  min-width: 100%;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery {
  margin: 17.5em 0em 2.2em 29em;
  border-radius: 20px;
}

.marvelAlliance {
  mix-blend-mode: luminosity;
  width: 400px;
  height: 250px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  margin: 0em 0em -15.5em 0em;
}

.marvelAlliance:hover {
  transform: scale(1.1);
  border: solid 2px black;
  cursor: pointer;
}
