.signIn {
  margin: 2em 0em 1em 1em;
  font-size: 35px;
  transition: all 0.2s ease-in-out;
  /* color: rgb(64, 114, 86); */
  color: rgb(228, 219, 219);
}

.signIn:hover {
  transform: scale(1.3);
  color: black;
}

.register {
  margin: 2em 1em 1em 1em;
  font-size: 35px;
  transition: all 0.2s ease-in-out;
  /* color: rgb(64, 114, 86); */
  color: rgb(228, 219, 219);
}

.register:hover {
  transform: scale(1.3);
  color: black;
}

/* Home Page Styling */

.navLink {
  margin: 1em 1em 1em 1em;
  font-size: 26px;
  /* color: rgb(64, 114, 86); */
  color: rgb(26, 24, 24);
  transition: all 0.2s ease-in-out;
}

.navLink:hover {
  transform: scale(1.2);
  color: rgb(187, 48, 48);
}

.navLink::after {
  content: "";
  width: 0%;
  height: 2px;
  /* background: rgb(87, 117, 117); */
  background: rgb(27, 26, 26);
  display: block;
  margin-left: 0em;
  transition: 0.5s;
  transform: skew(10deg, -7deg) scaleY(1.2);
}

.navLink:hover::after {
  width: 100%;
}

.navItem {
  margin: 0em 0em 0em 1em;
  transition: all 0.2s ease-in-out;
}

.navItem:hover {
  transform: scale(1.2);
}

/* Logout Button Styling */

.logOut {
  cursor: pointer;
  margin: 2em -2em 1em 1em;
  font-family: "Kaushan Script", cursive;
}

/* My Decks Background */

.navBarContainer {
  position: sticky;
  top: 0;
  overflow: hidden;
}

/* My Decks Styling */

.myDecksNavLink {
  margin: 1em -3em 1em 1em;
  font-size: 25px;
  color: rgb(26, 24, 24);
  transition: all 0.2s ease-in-out;
}

.myDecksNavLink:hover {
  transform: scale(1.2);
  color: rgb(187, 48, 48);
}

.myDecksNavLink::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(27, 26, 26);
  display: block;
  margin-left: 0em;
  transition: 0.5s;
  transform: skew(10deg, -7deg) scaleY(1.2);
}

.myDecksNavLink:hover::after {
  width: 100%;
}

.myDecksNav {
  margin: 0em 0em 0em -0.5em;
  transition: all 0.2s ease-in-out;
}

.myDecksNav:hover {
  transform: scale(1.2);
}

/* Public Decks Styling */

.publicDecksNavLink {
  margin: 1em -3em 1em 5em;
  font-size: 25px;
  color: rgb(26, 24, 24);
  transition: all 0.2s ease-in-out;
}

.publicDecksNavLink:hover {
  transform: scale(1.2);
  color: rgb(187, 48, 48);
}

.publicDecksNavLink::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(27, 26, 26);
  display: block;
  margin-left: 0em;
  transition: 0.5s;
  transform: skew(10deg, -7deg) scaleY(1.2);
}

.publicDecksNavLink:hover::after {
  width: 100%;
}

.publicDecksNav {
  margin: 0em 0em 0em -0.5em;
  transition: all 0.2s ease-in-out;
}

.publicDecksNav:hover {
  transform: scale(1.2);
}

.marvel-logo {
  width: 120px;
  height: 100px;
  margin: 5px 5px 5px 5px;
  transition: all 0.2s ease-in-out;
  border-radius: 35px;
  mix-blend-mode: luminosity;
}

.marvel-logo:hover {
  transform: scale(1.11);
}

/* Battle Arena Nav Styling */

.battleArenaNavLink {
  margin: 1em -3em 1em 5em;
  font-size: 25px;
  color: rgb(26, 24, 24);
  transition: all 0.2s ease-in-out;
}

.battleArenaNavLink:hover {
  transform: scale(1.2);
  color: rgb(187, 48, 48);
}

.battleArenaNavLink::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(27, 26, 26);
  display: block;
  margin-left: 0em;
  transition: 0.5s;
  transform: skew(10deg, -7deg) scaleY(1.2);
}

.battleArenaNavLink:hover::after {
  width: 100%;
}

.battleArenaNav {
  margin: 0em 0em 0em -0.5em;
  transition: all 0.2s ease-in-out;
}

.battleArenaNav:hover {
  transform: scale(1.2);
}

/* Favorite Decks Nav Styling */

.faveDeckNavLink {
  margin: 1em -3em 1em 5em;
  font-size: 25px;
  color: rgb(26, 24, 24);
  transition: all 0.2s ease-in-out;
}

.faveDeckNavLink:hover {
  transform: scale(1.2);
  color: rgb(187, 48, 48);
}

.faveDeckNavLink::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(27, 26, 26);
  display: block;
  margin-left: 0em;
  transition: 0.5s;
  transform: skew(10deg, -7deg) scaleY(1.2);
}

.faveDeckNavLink:hover::after {
  width: 100%;
}

.faveDeckNav {
  margin: 0em 0em 0em -0.5em;
  transition: all 0.2s ease-in-out;
}

.faveDeckNav:hover {
  transform: scale(1.2);
}
