.cardDiv {
  display: flex;
  flex-direction: row;
  margin: 5em 0em 3em 32em;
}

.returnDeckBut {
  margin: 0.5em 0em 4em 2em;
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  transition: all 0.2s ease-in-out;
}

.returnDeckBut:hover {
  transform: scale(1.1);
  border: solid 2px black;
  cursor: pointer;
}

.charName {
  font-family: "Kaushan Script", cursive;
}

.returnCardBut {
  margin: 2em 0em 1.5em 0em;
  font-family: "Kaushan Script", cursive;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.returnCardBut:hover {
  transform: scale(1.1);
  border: solid 2px black;
  cursor: pointer;
}

.heroName {
  color: black;
  font-size: 30px;
  margin: 2.5em 0em 1em 0em;
}

.heroDesc {
  color: black;
  font-size: 20px;
  margin: 0em 0em 2.5em 0em;
}

.faveCardsLogo {
  mix-blend-mode: luminosity;
  width: 400px;
  height: 240px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  margin: 2em 0em 0em 1.5em;
}

.faveCardsLogo:hover {
  transform: scale(1.1);
  border: solid 2px black;
  cursor: pointer;
}

.antMan {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border-radius: 50px;
}
